rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /special_user/{document} {
      allow create: if request.auth.uid == document;
      allow read: if request.auth.uid == document;
      allow write: if request.auth.uid == document;
      allow delete: if request.auth.uid == document;
    }

    match /meetup/{document} {
      allow create: if true;
      allow read: if true;
      // Allow only updating the attendance counter by +/- 1 and nothing else
      allow update: if request.auth != null
        && request.resource.data.diff(resource.data).changedKeys().hasOnly(["meetup_attendance"]) 
        && (
          request.resource.data.meetup_attendance == resource.data.meetup_attendance + 1 ||
          request.resource.data.meetup_attendance == resource.data.meetup_attendance - 1
        );
      allow delete: if false;
    }

    match /meetup_reserve/{document} {
      allow create: if true;
      allow read: if true;
      // Only the creator of the reservation can delete it
      allow delete: if request.auth != null &&
        resource.data.mr_creator == /databases/$(database)/documents/special_user/$(request.auth.uid);
      // Disallow other updates
      allow update: if false;
    }

    match /workout_plans/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /sport_feedback/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /workout_plans/{parent}/runs/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/runs/{document} {
      allow read: if true;
    }


    match /workout_plans/{parent}/level_counters/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/level_counters/{document} {
      allow read: if true;
    }


    match /comments/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }
  }
}
